/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
/* Asterisk wildcard selector to override default styles added by the browser  */
/* add variables */
:root {
  --main-color: #3a3a3a;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* general styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* gereric body style */
  color: var(--main-color);
  font-family: "lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}
/* hide for users but visible for search engine  */
.hiding-heading {
  display: none;
}
/* header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  box-shadow: 0 2px 2px var(--main-color);
  width: 100%;
  position: fixed;
  z-index: 99;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  letter-spacing: 4px;
  font-size: 110%;
}
header nav ul li {
  margin-bottom: 1em;
}
.active {
  border-bottom: 1px solid var(--main-color);
}
header nav ul li a {
  text-decoration: none;
  color: var(--main-color);
}
header nav {
  position: absolute;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px var(--main-color);
  background-color: #ffffff;
  width: 100%;
  top: 100%;
  display: none;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}
#nav-toggle:checked ~ nav {
  display: block;
}
/* main */
main {
  flex: 1 0 auto;
  margin-top: 47px;
}
/*  hero section */
#hero {
  height: 600px;
  width: 100%;
  background: url(../images/hero-image.webp) no-repeat center center/cover;
  position: relative;
}
#hero-info {
  /* final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding: 40px 0 0 10px;
}
#hero-info > h2,
#hero-info > h3 {
  color: #ffffff;
}
/* reasons section */
#reasons {
  width: 90%;
  margin: 20px auto;
}
#reasons h2 {
  font-size: 280%;
  margin-bottom: 20px;
  text-align: center;
}
#benefits p {
  padding: 0 20px;
}
#benefits-physical > div,
#benefits-mental > div {
  line-height: 20px;
  margin-bottom: 20px;
}
#benefits hr {
  border-bottom: 2px solid var(--main-color);
  margin: 5px 0;
}
#circle-cover-bg {
  background: url(../images/reasons-image.webp) no-repeat top center / cover;
  width: 90vw;
  height: 90vw;
  margin-bottom: 20px;
  /*make a square image into a circle*/
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}
#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* times section */
#times {
  background: url(../images/dublin-city.webp) no-repeat center center /cover;
  /* handels responsivity without the need for a media query */
  display: flex;
  flex-wrap: wrap;
}
#times div {
  color: #fafafa;
  background-color: rgba(0,0,0,.6);
  padding: 15px;
  text-align: center;
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid #ffffff;
}
#times h3 {
  /* override the heading color set in general styles */
  color: #fafafa;
}
/* Gallery page  */
#photo img {
  width: 100%;
  line-height: 1;
}
#photo {
  line-height: 0gi;
}

/* footer*/
footer {
  background-color: #ffffff;
}
#social-networks {
  top: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  list-style-type: none;
}
#social-networks li a svg {
  font-size: 160%;
  padding: 5%;
  color: var(--main-color);
}

/* media quiry: for tablet and all devices */
@media screen and (min-width: 768px) {
  /* header */
  header nav {
    display: block;
    padding-right: 1rem;
    width: fit-content;
    position: relative;
    box-shadow: none;
  }
  .nav-toggle-label {
    display: none;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding-left: 1rem;
  }
  #logo {
    font-size: 200%;
    margin: 0 0.5rem;
    line-height: 75px;
  }
  /* push the main element down the accommdate header */
  main {
    margin-top: 75px;
  }
  #hero-info {
    width: 300px;
    right: 50px;
  }
  /* reasons section */
  #benefits-physical,
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #benefits-physical > div,
  #benefits-mental >div {
    width:75%;
  }
  #benefits-mental >div {
    text-align: end;
    align-self: flex-end;
  }
}
/* large devices( laptop and desktops ,992px and up )*/
@media screen and (min-width: 992px) {
  header nav ul li a:hover {
    border-bottom: 1px solid var(--main-color);
  }
}
/* large devices ,1200px and up  */
@media screen and (min-width: 1200px) {
  #benefits {
    display: flex;
    flex-direction: row;
  }
  #benefits > div {
    flex: 1;
  }
  #benefits-image {
    order: 0;
  }
  #benefits-mental {
    order: 1;
  }
  #benefits-pysical > div {
    align-self: flex-end;
  }
  #benefits-mental > div {
    align-self: flex-start;
  }
}
